@font-face {
  font-family: Diner;
  src: url('../Diner/diner.ttf');
}
h1 {
  font-size: 10em;
  font-weight: bold;
}
p {
  font-size: 2em;
}
.container {
  width: 90%;
  height: 50%;
  padding: 1em;
  margin: 1em 1em 1em 1em;
  border: .5em solid black;
}
.mysterious {
  background-color: gray;
  font-family: Diner;
  color: burlywood;
}
.jokey {
  background-color: darkorange;
  font-family: Diner;
  color: yellow;
}
.challenge {
  background-color: darkblue;
  font-family: Diner;
  color: white;
}
.serious {
  background-color: darkkhaki;
  font-family: Diner;
  color: black;
}
.newsboy {
  background-color: antiquewhite;
  font-family: Diner;
  color: darkslategray;
}
.obnoxious {
  background-color: red;
  font-family: Diner;
  color: orangered;
}
.obnoxious h1:hover {
  color: #ffff00;
}
.obnoxious:hover {
  background-color: #ffa500;
}
.map {
  background-color: olive;
  font-family: Diner;
  color: blanchedalmond;
}
.chart {
  background-color: seagreen;
  font-family: Diner;
  color: lightcyan;
}
.diner1 {
  background-color: antiquewhite;
  font-family: Diner;
  color: red;
}
.diner2 {
  background-color: yellow;
  font-family: Diner;
  color: greenyellow;
}
button {
  width: 20%;
  height: 3em;
  border-radius: 5px;
  border: .1em solid black;
  background-color: white;
  color: black;
}
@media only screen and (max-width: 500px) {
  button {
    width: 30%;
    height: 4em;
  }
}
